@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor-primaria: black;
    --cor-secundaria: white;
    --cor-terciaria: aqua;
    --cor-hover: #272727;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 40px;
}

.cabecalho__menu__link {
    font-family: 'Courier New', Courier, monospace;
    color: var(--cor-terciaria);
    font-size: 1,5rem;
    text-decoration: none;

}

.titulo-destaque {
    color:var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.apresentacao__conteudo__titulo {
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    padding: 0;
}

.apresentacao__conteudo__paragrafo {
    font-size: 1,25rem;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.apresentacao__links__subtitulo {
font-family: 'Courier New', Courier, monospace;
font-size: 1,5rem;
}

.apresentacao__links__ancora {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: solid 1px var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1,25rem;
    padding: 20px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600px;
}

.apresentacao__links__ancora:hover {
    background-color: var(--cor-hover);
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    text-align: center;
    padding: 20px;
    font-size: 1,25rem;
    font-family: 'Courier New', Courier, monospace;
}

.apresentacao__imagem {
    width: 50%;
}

.foto {
    border: solid var(--cor-terciaria);
    border-radius: 1%;
}

@media (max-width: 1200px) {
    
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}